<main class="main">
  <div class="bd-content">
    <div class="container">
    <h1>Hacker News Stories</h1>

    <div class="input-group mb-2">
      <input type="text" clclass="input-group-text" id="inputGroup-sizing-default" placeholder="Filter story by title" #filter aria-describedby="button-addon2">
      <button class="btn btn-primary" type="button" id="button-addon2"(click)="filterResults(filter.value)">Search</button>
    </div>   
   
   <table>
      <tr *ngFor="let story of filteredStories | paginate: {itemsPerPage:15, currentPage: page}">
        <td>
          <a *ngIf="story.url" href="{{story.url}}">{{ story.title }}</a>
          <span *ngIf="!story.url">{{ story.title }}</span>
        </td>
      </tr>
   </table>
   <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
</main>
<router-outlet />
